<div class="jumbotron text-center">
  <h1 class="display-3">Welcome</h1>
  <p class="lead">Track and manage differetn tasks</p>
  <a href="/tasks/add" class="btn btn-dark btn-lg">Write down the task</a>
</div>
